<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FORMULARIO DE CONSTANCIA INFORMACIÓN AL PACIENTE GES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form id="form_paciente" action="/notificaciongespaciente" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 centrado">
                    <img src="{{ url_for('static', filename='img/channels-15_bg_header.png') }}" alt="img_header"><br>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>FORMULARIO DE CONSTANCIA INFORMACIÓN AL PACIENTE GES</h2>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Datos del prestador</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="institution">Institución</label>
                    <input type="text" id="institution" name="institution" value="{{ data.nombre_establecimiento }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="address">Dirección</label>
                    <input type="text" id="address" name="address" value="{{ data.direccion_establecimiento }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="city">Ciudad</label>
                    <input type="text" id="city" name="city" value="{{ data.ciudad_establecimiento }}" class="form-control" readonly>
                </div>