<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FORMULARIO DE CONSTANCIA INFORMACIÓN AL PACIENTE GES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form id="form_paciente" action="/notificaciongespaciente" method="post">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12 centrado">
                    <img src="{{ url_for('static', filename='img/channels-15_bg_header.png') }}" alt="img_header"><br>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>FORMULARIO DE CONSTANCIA INFORMACIÓN AL PACIENTE GES</h2>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Datos del prestador</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="nombre_establecimiento">Nombre Establecimiento:</label>
                    <input type="text" id="nombre_establecimiento" name="nombre_establecimiento" value="{{data.nombre_establecimiento}}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="direccion_establecimiento">Dirección:</label>
                    <input type="text" id="direccion_establecimiento" name="direccion_establecimiento" value="{{data.direccion_establecimiento}}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="ciudad_establecimiento">Ciudad:</label>
                    <input type="text" id="ciudad_establecimiento" name="ciudad_establecimiento" value="{{data.ciudad_establecimiento}}" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="nombre_notificador">Nombre persona que notifica:</label>
                    <input type="text" id="nombre_notificador" name="nombre_notificador" value="{{data.nombre_notificador}}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="rut_notificador">RUT:</label>
                    <input type="text" id="rut_notificador" name="rut_notificador" value="{{data.rut_notificador}}" class="form-control" readonly>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Antecedentes del Paciente</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="nombre_paciente">Nombre:</label>
                    <input type="text" id="nombre_paciente" name="nombre_paciente" class="form-control" value="{{ data.nombre_paciente }}" readonly>

                </div>
                <div class="col-md-4">
                    <label for="rut_paciente">Rut:</label>
                    <input type="text" id="rut_paciente" name="rut_paciente" class="form-control" value="{{ data.rut_paciente }}" readonly>
                </div>
                <div class="col-md-4">
                    <label for="aseguradora_paciente">Aseguradora:</label>
                    <input type="text" id="aseguradora_paciente" name="aseguradora_paciente" value="{{data.aseguradora_paciente}}" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="direccion_paciente">Dirección:</label>
                    <input type="text" id="direccion_paciente" name="direccion_paciente" class="form-control" value="{{data.direccion_paciente}}" readonly>
                </div>
                <div class="col-md-4">
                    <label for="comuna_paciente">Comuna:</label>
                    <input type="text" id="comuna_paciente" name="comuna_paciente" class="form-control" value="{{data.comuna_paciente}}" readonly>
                </div>
                <div class="col-md-4">
                    <label for="region_paciente">Región:</label>
                    <input type="text" id="region_paciente" name="region_paciente" class="form-control" value="{{data.region_paciente}}" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="telefono_fijo_paciente">Telefono Fijo:</label>
                    <input type="text" id="telefono_fijo_paciente" name="telefono_fijo_paciente" class="form-control" value="{{data.telefono_fijo_paciente}}" readonly>
                </div>
                <div class="col-md-4">
                    <label for="celular_paciente">Celular:</label>
                    <input type="text" id="celular_paciente" name="celular_paciente" class="form-control" value="{{data.celular_paciente}}" readonly>
                </div>
                <div class="col-md-4">
                    <label for="email_paciente">E-mail:</label>
                    <input type="email" id="email_paciente" name="email_paciente" value="{{ data.email_paciente }}" class="form-control" readonly>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Información médica</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <label for="diagnostico_ges">Confirmación diagnostica GES:</label>
                    <input type="text" id="diagnostico_ges" name="diagnostico_ges" class="form-control" value="{{ data.diagnostico_ges }}" readonly>
                </div>
                <div class="col-md-4">
                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" name="tipo" class="form-control"  value="{{data.tipo}}" readonly>
                </div>

            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    CONSTANCIA <br>
                    Declaro que, con esta fecha y hora, he tomado conocimiento que tengo derecho a acceder a las Garantías Explícitas en Salud (GES), siempre que la atención sea otorgada en la red de Prestadores que me corresponde según Fonasa o Isapre, a que me encuentro adscrito.<br>
                    <br>
                    IMPORTANTE: <br>
                    Tenga presente que si no se cumplen las garantías ustede puede reclamar ante Fonasa o la Isapre, según corrresponda. Si la respuesta no es satisfactoria, usted puede recurrir en sugunda instancia a la Superintendencia de Salud.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    FECHA Y HORA DE NOTIFICACIÓN:
                </div>
                <div class="col-md-4">
                    <input type="text" id="fechahora_notificacion" name="fechahora_notificacion" class="form-control" value="{{data.fechahora_notificacion}}" readonly><br><br>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    En caso que la persona que tomó conocimiento no sea el paciente, identificar
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="nombre_representante">Nombre:</label>
                    <input type="text" id="nombre_representante" name="nombre_representante" class="form-control" value="{{data.nombre_representante}}" >
                </div>
                <div class="col-md-4">
                    <label for="rut_representante">Rut:</label>
                    <input type="text" id="rut_representante" name="rut_representante" class="form-control" value="{{data.rut_representante}}" >
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="telefono_representante">Teléfono:</label>
                    <input type="text" id="telefono_representante" name="telefono_representante" class="form-control" value="{{data.telefono_representante}}" >
                </div>
                <div class="col-md-4">
                    <label for="email_representante">E-mail:</label>
                    <input type="email" id="email_representante" name="email_representante" class="form-control" value="{{data.email_representante}}" >
                </div>
            </div>
            <br>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 centrado">
                    <br><br>
                    <img src="{{ url_for('static', filename='img/firmaelectronica-min.png') }}" alt="Firma notificador" height="60px"><br>
                    Firmado electronicamente {{data.nombre_notificador}}<br>
                    <b>Informé diagnóstico GES</b> <br>
                     Firma de la persona que notifica
                </div>
                <div class="col-md-6 centrada" >
                    <label for="firma">Firma Paciente o persona que tomo conocimiento:</label>
                    <canvas id="firma" style="border: 1px solid #000;"></canvas><br><br>
                    <button type="button" onclick="limpiarCanvas()" class="btn btn-primary">Borrar</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <button id="enviarForm" type="button" onclick="enviarFormulario()" class="btn btn-primary">Tomo conocimiento</button>
                </div>
            </div>
        </div>
        <br>
        


        <input type="number" id="id" name="id" class="form-control" value="{{ data.id }}" style="display: none;">
        <input type="text" id="notificador_id" name="notificador_id" class="form-control" value="{{ data.notificador_id }}" style="display: none;">
        <input type="text" id="estado" name="estado" class="form-control" style="display: none;" value="N">
        <input type="text" id="firma_paciente" name="firma_paciente" class="form-control" style="display: none;">
         
    </form>
    
    <script>
        // Obtener el elemento canvas y el contexto de dibujo
        var canvas = document.getElementById('firma');
        var ctx = canvas.getContext('2d');

        // Variables para controlar el estado del dibujo
        var isDrawing = false;
        var lastX = 0;
        var lastY = 0;

        // Función para dibujar en el lienzo
        function draw(e) {
            if (!isDrawing) return;
            ctx.strokeStyle = '#000'; // Color del trazo
            ctx.lineWidth = 2; // Ancho del trazo
            ctx.lineJoin = 'round';
            ctx.lineCap = 'round';

            ctx.beginPath();
            ctx.moveTo(lastX, lastY);
            ctx.lineTo(e.offsetX, e.offsetY);
            ctx.stroke();

            [lastX, lastY] = [e.offsetX, e.offsetY];
        }

        // Eventos de ratón para capturar la firma
        canvas.addEventListener('mousedown', (e) => {
            isDrawing = true;
            [lastX, lastY] = [e.offsetX, e.offsetY];
        });

        canvas.addEventListener('mousemove', draw);
        canvas.addEventListener('mouseup', () => isDrawing = false);
        canvas.addEventListener('mouseout', () => isDrawing = false);

        function limpiarCanvas() {
            //var canvas = document.getElementById("firma_paciente");
            //var context = canvas.getContext("2d");
            //context.clearRect(0, 0, canvas.width, canvas.height);
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function enviarFormulario(){
            var canvas = document.getElementById("firma");
            var dataURL = canvas.toDataURL();
            document.getElementById('firma_paciente').value = dataURL;
            document.getElementById('form_paciente').submit();
        }
    </script>
</body>
</html>