<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FORMULARIO DE CONSTANCIA INFORMACIÓN AL PACIENTE GES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form action="/notificacionges" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 centrado">
                    <img src="{{ url_for('static', filename='img/channels-15_bg_header.png') }}" alt="img_header"><br>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>FORMULARIO DE CONSTANCIA INFORMACIÓN AL PACIENTE GES</h2>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Datos del prestador</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="institution">Institución</label>
                    <input type="text" id="institution" name="institution" value="{{ data.nombre_establecimiento }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="address">Dirección</label>
                    <input type="text" id="address" name="address" value="{{ data.direccion_establecimiento }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="city">Ciudad</label>
                    <input type="text" id="city" name="city" value="{{ data.ciudad_establecimiento }}" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="notifier">Nombre persona que notifica</label>
                    <input type="text" id="notifier" name="notifier" value="{{ data.nombre_notificador }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="rut_notificador">RUT</label>
                    <input type="text" id="rut_notificador" name="rut_notificador" value="{{ data.rut_notificador }}" class="form-control" readonly>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Antecedentes del Paciente</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="legalName">Nombre legal</label>
                    <input type="text" id="legalName" name="legalName" value="{{ data.nombre_paciente }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="rut">RUN</label>
                    <input type="text" id="rut" name="rut" value="{{ data.rut_paciente }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="coverage">Previsión</label>
                    <input type="text" id="coverage" name="coverage" value="{{ data.aseguradora_paciente }}" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="address">Domicilio</label>
                    <input type="text" id="address" name="address" value="{{ data.direccion_paciente }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="commune">Comuna</label>
                    <input type="text" id="commune" name="commune" value="{{ data.comuna_paciente }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="region">Región</label>
                    <input type="text" id="region" name="region" value="{{ data.region_paciente }}" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="phone">Teléfono</label>
                    <input type="text" id="phone" name="phone" value="{{ data.telefono_fijo_paciente }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" name="email" value="{{ data.email_paciente }}" class="form-control" readonly>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Información Médica</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <label for="healthProblem">Problema de salud GES</label>
                    <input type="text" id="healthProblem" name="healthProblem" value="{{ data.diagnostico_ges }}" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label for="healthProblemNumber">Número</label>
                    <input type="text" id="healthProblemNumber" name="healthProblemNumber" value="{{ data.tipo }}" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="notificationDateAndTime">Fecha y hora de notificación</label>
                    <input type="text" id="notificationDateAndTime" name="notificationDateAndTime" value="{{ data.fechahora_notificacion }}" class="form-control" readonly>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Notificar" class="btn btn-primary">
                </div>
            </div>
        </div>
        <input type="number" id="id" name="id" class="form-control" value="{{ data.id }}" style="display: none;">
        <input type="text" id="uuid" name="uuid" class="form-control" value="{{ data.uuid }}" style="display: none;">
        <input type="text" id="notificador_id" name="notificador_id" class="form-control" value="{{ data.notificador_id }}" style="display: none;">
    </form>
</body>
</html>