<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">
    <title>Formulario enviado</title>
</head>
<body>
    <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12 centrado">
                    <img src="http://127.0.0.1:5000/static/img/channels-15_bg_header.png" alt="img_header"><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 centrado">
                    <h2>Respuesta de Formulario</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 centrado">
                    <!-- Aquí puedes agregar el contenido del formulario -->
                    <p><h3>{{ data.message }}</h3></p>
                </div>
            </div>
    </div>
    
</body>
</html>
